experiments:
  - 
    layers:
      - [3, 15]
      - [15, 30]
      - [30, 15]
      - [15, 11]
    activation: ReLU

  - 
    layers:
      - [3, 50]
      - [50, 20]
      - [20, 11]
    activation: ReLU

  - 
    layers:
      - [3, 100]
      - [100, 50]
      - [50, 11]
    activation: Tanh

  - 
    layers:
      - [3, 200]
      - [200, 11]
    activation: ReLU


best:
  layers:
    - [3, 15]
    - [15, 30]
    - [30, 15]
    - [15, 10]

  activation: ReLU
